xml/impfzentrum.dtd

<!ELEMENT impfzentrum (name, addresse, koordinaten, oeffnungszeiten, terminbuchung)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT addresse (#PCDATA)>

<!ELEMENT koordinaten (laenge, breite)>
<!ELEMENT laenge (#PCDATA)>
<!ELEMENT breite (#PCDATA)>

<!ELEMENT oeffnungszeiten (zeit*)>
<!ELEMENT zeit (#PCDATA)>
<!ATTLIST zeit
    tag CDATA #REQUIRED>

<!ELEMENT terminbuchung (#PCDATA)>