xml/impfzentren.dtd

<!ELEMENT impfzentren (impfzentrum*)>
<!ELEMENT impfzentrum (name, addresse, oeffnungszeiten, terminbuchung)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT addresse (#PCDATA)>

<!ELEMENT oeffnungszeiten (zeit*)>
<!ELEMENT zeit (#PCDATA)>
<!ATTLIST zeit
    tag CDATA #REQUIRED>

<!ELEMENT terminbuchung (#PCDATA)>